<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hexade.borntoparty.main">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.BirthdayDetailActivity"
            android:label="@string/title_birthday_detail"
            android:parentActivityName=".UI.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".UI.Activities.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activities.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".UI.Activities.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activities.ItemListActivity" />
        </activity>
        <activity
            android:name=".UI.Activities.CreateEventActivity"
            android:label="@string/title_activity_create_event"
            android:parentActivityName=".UI.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".UI.Activities.EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:parentActivityName=".UI.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activities.MainActivity" />
        </activity>
    </application>

</manifest>
